* {
  box-sizing: border-box;
}

input:focus {
  outline: double #1020aa 0.2em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #99999b, #213799);
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  color: white;
}

footer {
  flex: 0;
  color: white;
  font-size: 0.8em;
}

input {
  /* TODO */
}

.search-container {
  justify-content: center;
  align-content: center;
}
